.yamz__wrapper--has-caption .yamz__img-wrapper {
    margin-bottom: 0;
}
.yamz__wrapper--has-caption .yamz__img-wrapper > img {
    max-height: calc(100vh - 64px - 2em);
}
.yamz__caption {
    margin: 1em 32px;
    height: 1em;
    will-change: opacity;

    animation: yamz-fade-in 0.2s ease-out 0.1s both;
}
.yamz__wrapper--closing .yamz__caption {
    opacity: 0 !important;
}
