/* original */
.yamz__original {
    cursor: zoom-in;
}
.yamz__original--open {
    visibility: hidden;
}

/* wrapper */
.yamz__wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 999;
    font-size: 16px;
    color: #fff;
    cursor: zoom-out;
}
.yamz__wrapper::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background: rgba(0, 0, 0, 0.95);
    animation: yamz-fade-in 0.2s ease-out both;
}
.yamz__wrapper--closing::before {
    animation: yamz-fade-out 0.2s ease-out both;
}
@keyframes yamz-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes yamz-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* img */
.yamz__img-wrapper {
    margin: 32px;
    display: inline-block;
    position: relative;
    will-change: transform;
    transition: transform ease;
    animation: yamz-shadow-in 5s both;
}
@keyframes yamz-shadow-in {
    0% {
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    }
}
.yamz__wrapper--highres-loaded .yamz__img {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.yamz__highres {
    animation: yamz-fade-in 0.2s;
    transition: opacity 0.2s;
    opacity: 1;
    will-change: opacity;
}
.yamz__wrapper--closing .yamz__highres {
    opacity: 0;
}
@keyframes yamz-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.yamz__img-wrapper > img {
    max-width: calc(100vw - 64px);
    max-height: calc(100vh - 64px);
    margin: 0 auto;
}

/* loader */
.yamz__loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    animation: yamz-fade-in 0.2s ease-out 0.1s both;
}
.yamz__wrapper--highres-loaded .yamz__loader {
    z-index: -1;
}
.yamz__loader::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: yamz-loader 1s infinite ease;
}
@keyframes yamz-loader {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

/* caption */
.yamz__wrapper--has-caption .yamz__img-wrapper {
    margin-bottom: 0;
}
.yamz__wrapper--has-caption .yamz__img-wrapper > img {
    max-height: calc(100vh - 64px - 2em);
}
.yamz__caption {
    margin: 1em 32px;
    height: 1em;

    animation: yamz-fade-in 0.2s ease-out 0.1s both;
}
.yamz__wrapper--closing .yamz__caption {
    opacity: 0 !important;
}
