.yamz__original {
    cursor: zoom-in;
}
.yamz__original--open {
    visibility: hidden;
}

.yamz__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: zoom-out;
}
.yamz__wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background: rgba(0, 0, 0, 0.9);
    animation: yamz-fade-in 0.2s ease-out;
}
.yamz__wrapper--closing::before {
    animation: yamz-fade-out 0.2s ease-out;
}
@keyframes yamz-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes yamz-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.yamz__img-wrapper {
    margin: 32px;
    max-width: calc(100% - 64px);
    max-height: calc(100% - 64px);
    text-align: center;
}

.yamz__img-wrapper img {
    max-width: 100%;
    max-height: 100%;

    transition: transform 0.2s cubic-bezier(0.2, 0, 0.2, 1);
    will-change: transform;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    animation: yamz-shadow-in 0.4s;
}
@keyframes yamz-shadow-in {
    0% {
        box-shadow: 0 0px 8px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    }
}
