body {
    margin: 0;
    min-height: 100vh;
    font-family: "Lora", sans-serif;
    font-size: 22px;
    padding: 3em 1em;
    background: #fefefe;
    --width: 58ch;
    --gutter: 96px;
}
a {
    color: inherit;
}
a:hover {
    opacity: 0.65;
}
picture img {
    display: block;
}
img {
    display: block;
}
ul {
    list-style: "-  ";
    margin-top: 0;
    margin-bottom: 0;
}
li {
    margin-bottom: 0.25em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 960px;
    max-width: calc(60ch + 64px);
    max-width: calc(var(--width) + var(--gutter));
    margin: 0 auto;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 0 auto 2em;
    font-family: "Questrial", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1.5em;
}
.title a {
    text-decoration: none;
}
.title a:hover {
    text-decoration: underline;
}
h1 {
    font-size: inherit;
    text-align: center;
    margin-bottom: 0;
    color: #1e1e22;
}
h1 + small {
    font-size: 18px;
    opacity: 0.5;
    margin-left: auto;
}
.subtitle {
    margin-top: 1em;
    margin-bottom: 0;
}
h2 {
    font-family: "Questrial", sans-serif;
    font-size: 28px;
    margin-bottom: 0;
}

.wrapper p,
.wrapper ul,
.wrapper .subtitle {
    box-sizing: border-box;
    max-width: 60ch;
    max-width: var(--width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.wrapper p + p {
    margin-top: 0;
}

.wrapper > img,
.wrapper > figure,
.wrapper > .img-grid {
    margin: 1em 0;
    max-width: 100%;
}
.wrapper figcaption {
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #aaa;
    margin-bottom: -1em;
    margin-top: 0.25em;
}
.wrapper figcaption a {
    position: relative;
    text-decoration: none;
}
.wrapper figcaption a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 1px;
    background: currentColor;
    opacity: 0.5;
}
.wrapper figcaption a:hover {
    color: #777;
}
.wrapper img {
    max-width: 100%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

p a[href^="https://github.com"]::after {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.25ch;
    margin-left: 0.25ch;
    transform: translateY(0.1em);
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
}

.img-grid {
    display: flex;
    flex-wrap: wrap;
}
.img-grid > * {
    flex-basis: 49%;
    width: 49%;
    flex-grow: 1;
    margin-right: 2%;
    margin-bottom: 2%;
}
.img-grid > *:nth-child(2n) {
    margin-right: 0;
}

/* yamz */
.yamz__wrapper {
    font-family: "Questrial", sans-serif;
}
.yamz__wrapper::before {
    transition: background-color 0.4s;
}
.yamz__wrapper.yamz__wrapper--pink::before {
    background: rgba(92, 0, 92, 0.95);
}
.yamz__wrapper.custom {
    flex-direction: row;
}
.custom__left,
.custom__right {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
}
.custom__left {
    align-items: flex-end;
}
.custom__right {
    max-width: calc(60ch + 64px);
}
.custom .yamz__img-wrapper {
    margin: 0;
}
.custom .yamz__img-wrapper > img {
    max-width: calc(50vw - 64px);
}
.custom .yamz__caption {
    max-width: 50ch;
    height: auto;
}
.custom .yamz__caption p {
    font-size: 20px;
    font-weight: 400;
}

/* mobile */
@media (max-width: 950px) {
    body {
        padding: 3em 0;
        --gutter: 1em;
    }
    .wrapper {
        box-sizing: border-box;
        padding: 0 1em;
        width: 100%;
    }
    .wrapper > p {
        box-sizing: border-box;
        padding-left: var(--gutter);
        padding-right: var(--gutter);
    }

    .custom__left {
        padding-right: 0;
    }
    .custom__right {
        padding-left: 0;
    }
}
