body {
    margin: 0;
    min-height: 100vh;
    font-family: "Lora", sans-serif;
    font-size: 22px;
    padding: 3em 1em;
    background: #fefefe;
    --width: 58ch;
    --gutter: 96px;
}
a {
    color: inherit;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 960px;
    max-width: calc(60ch + 64px);
    max-width: calc(var(--width) + var(--gutter));
    margin: 0 auto;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 0 auto 2em;
    font-family: "Questrial", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1.5em;
}
h1 {
    font-size: inherit;
    text-align: center;
    margin-bottom: 0;
    color: #1e1e22;
}
h1 + small {
    font-size: 18px;
    opacity: 0.5;
    margin-left: auto;
}

.wrapper p {
    max-width: 60ch;
    max-width: var(--width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.wrapper p + p {
    margin-top: 0;
}

.wrapper > img,
.wrapper > figure {
    margin: 1em 0;
    max-width: 100%;
}
.wrapper figcaption {
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #aaa;
    margin-bottom: -1em;
}
.wrapper figcaption a {
    position: relative;
    text-decoration: none;
}
.wrapper figcaption a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 1px;
    background: currentColor;
    opacity: 0.5;
}
.wrapper figcaption a:hover {
    color: #777;
}
.wrapper img {
    max-width: 100%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
